# TUPELS IN PYTHON

  Tuple is very similar to list but the only difference is you cannot modify or change the items stored in tuple


  
     1.Accessing the elements ; you can access the elements by the use of indexing and slicing method

        indexing ; accessing with the help of index 

        slicing ; slicing or dividing the tuple

     2.Concatenation;  use to combine to tuples using "+".   

     3.Repetition;  use to repeate the tuple using "*".

     4.Count;  count occurence of elements with the count().

     5.Index;  This method in Python is used to find the first occurrence of a specified value in a tuple.

## Accessing the elements

In [3]:
# accessing
# indexing

tuple=["om","jay","nishad","aditya","atharva"]
print(tuple[0])

#slicing
print(tuple[2:3])

om
['nishad']

## Concatenation tuples

In [4]:
# concatenation

tuple1=[12,23,32,44]
tuple2=["pune","satara","kholapur"]
tuple3=tuple1+tuple2

print(tuple3)

[12, 23, 32, 44, 'pune', 'satara', 'kholapur']

## Repetition of tuple

In [11]:
## Repetitions of the tuples

tuple=["om"]
print(tuple*2)

['om', 'om']

## Count

In [12]:
tuple=[1,2,3,1,3,1,4,1]
print (tuple.count(1))

4