# COMMON PYTHON ERRORS

  Errors in python are normal and can be handeled by various methods and very simple to solve 

  Some basic python errors are 

    1. indentation error;  indentation errors in python occour in pythone code due to space tabs given by the programers in code and can be treated by ensuring a consistent indentent

### 1.Indentation errors

In [14]:
#indentation error

if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 3 (1742653571.py, line 4)

### Treating indentation error

In [15]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

### 2.Name errors

      A Name error in Python occurs when the interpreter encounters a name that it does not recognize. This typically happens when a variable or function is used before it is defined, or when there is a type in the name.

In [17]:
#name error
x=7
y=7+m

NameError: name 'm' is not defined

#### Name Errors treating

In [18]:
#treating
x=7
m=6
y=7+m
print(y)

13

## 3.value error

      Value error in Python is occured when a function receives an argument of the correct type but an inappropriate value. This exception is common in scenarios where the value provided does not meet the expected criteria for a function or operation.

In [22]:
# value error
a = 34.8
b = "om"
print(int(a)) 
print(float(b))

34

ValueError: could not convert string to float: 'om'

### Treating value error

In [24]:
#treating value errors 
a = 34.8
b = 44
print(int(a)) 
print(float(b))

34
44.0

## 4.Type errors
     A Type error in Python is an exception that occurs when an operation or function is applied to an object of an inappropriate type. This typically happens when you try to perform operations between incompatible data types or call a non-callable object.

In [31]:
#type error
list1 = [1, 2, 3]
list2 = (4, 5, 6)
myResult = list1 + list2
print("First list is:", list1)
print("second list is:", list2)
print("Resultant list is:", myResult)

TypeError: can only concatenate list (not "tuple") to list

### treating Type error

In [32]:
#treating type error
list1 = [1, 2, 3]
list2 = [4, 5, 6]
myResult = list1 + list2
print("First list is:", list1)
print("second list is:", list2)
print("Resultant list is:", myResult)

First list is: [1, 2, 3]
second list is: [4, 5, 6]
Resultant list is: [1, 2, 3, 4, 5, 6]

## 3.Index errors

      An Index error in Python occurs when you try to access an element from a list, tuple, or any other sequence using an index that is outside the valid range of indices for that sequence. This is a common exception that can be encountered in various scenarios.

In [36]:
#index error

list=[1,2,3]
print(list[5])

IndexError: list index out of range

### Treating index errors

In [37]:
# treating index
list=[1,2,3]
print(list[1])

2

## 4.Key error

      A Key error in Python is an exception that occurs when you try to access a key that isn't present in a dictionary. This is a common error encountered by beginners and can be easily handled with a few techniques.

In [42]:
#key error
ages = {'om': 30, 'jay': 28, 'don': 33}
print(ages['nishad'])

KeyError: 'nishad'

### Treating Key error

In [44]:
#treating error

ages = {'om': 30, 'jay': 28, 'don': 33}
print(ages['om'])

30