# for loop

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

## Example for for loop

In [2]:
#basic example
list = ["om","jay","hari"]
for t in list:
    print(t)

om
jay
hari

## 1)print odd value between 20 and 80, without using if. Using for loop only

In [13]:
for i in range(21, 80, 2):
    print(i)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79

## 2) ) creat a list of 1 to 20 number using for loop [1,2,3..20]

In [19]:
# solution
for i in range (1,21,1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## 3)create a  list of 20 to 1 value using  for loop (dont Use Reverse)
[20,19,18,...3,2,1]

In [18]:
for i in range (20,0,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

## 4)take Cube of odd values between 20 to 40

In [20]:
for i in range (21,40,2):
    print(i**3)

9261
12167
15625
19683
24389
29791
35937
42875
50653
59319

## 5) take 5 freinds name in list name=[a,b,c,d,e]take corresponding ages in second list age = [20,21,23,25,24]expected ans:
    my name is a , my age is 20
    my name is b, my age is 21

In [12]:
# for loop 5
names = ["om","jay","nishad"]
ages = [22,18,23]
for  name , age in zip(names, ages):  
    print (f"my name is {name} , my age is {age}")

my name is om , my age is 22
my name is jay , my age is 18
my name is nishad , my age is 23